<template>
  <b-container>
    <b-jumbotron :lead='currentQuestion.question'>
      <hr/><br/>
      <b-list-group>
        <b-list-group-item v-for='answer in currentQuestion.answers' :key='answer[0]'
            :class='itemClass(answer[0])' @click='itemClicked(answer[0])'>
          <span v-html='answer[1]'></span>
        </b-list-group-item>
      </b-list-group>
      <br/>
      <b-button variant='success' href='#' @click='submitClicked()' :disabled="this.submitted">Submit</b-button>
      <b-button variant='primary' href='#' @click='goNext()'>Next</b-button>
    </b-jumbotron>
  </b-container>
</template>

<script>
export default {
  name: 'Question',
  data () {
    return {
      selectedIndex: -1,
      submitted: false
    }
  },
  props: {
    currentQuestion: Object,
    nextQuestion: Function
  },
  computed: {
    getCorrectIndex () {
      var t_item = 0
      this.currentQuestion.answers.forEach(item => {
        if(item[2]===true){
          t_item = item[0];
        }
      });
      return t_item
    }
  },
  methods: {
    itemClicked: function (index) {
      this.selectedIndex = index
    },
    goNext(){
      this.selectedIndex = -1
      this.submitted = false
      this.nextQuestion()
    },
    itemClass: function (index) {
      var bold = ''
      if(this.selectedIndex === index){
        bold='bold-text'
      }
      if (this.selectedIndex === index) {
        if(this.submitted === true && index === this.getCorrectIndex)
          return 'correct'+' '+bold
        if(this.submitted === true && index !== this.getCorrectIndex)
          return 'incorrect'+' '+bold
        return 'selected'+' '+bold
      } else {
        if(this.submitted === true && index !== this.getCorrectIndex)
          return 'incorrect'+' '+bold
        if(this.submitted === true && index === this.getCorrectIndex)
          return 'correct'+' '+bold
        return bold
      }
    },
    submitClicked: function () {
      this.submitted = true
    }
  }
}
</script>

<style scoped>
  .list-group-item{
    margin: 2px 0px;
    cursor: pointer;
  }
  .list-group-item:hover{
    background: #E0E0E0;
  }
  .btn{
    margin: 0px 10px 0px 0px;
  }
  .selected{
    background: lightblue;
  }
  .correct{
    background: lightgreen;
  }
  .incorrect{
    background: pink;
  }
  .bold-text{
    font-weight: bold;
  }
</style>
