<template>
  <div>
    <b-nav tabs>
      <b-nav-item disabled>Fancy Question Application</b-nav-item>
    </b-nav>
    <Question :nextQuestion='nextQuestion' v-if='questions.length > 0' :currentQuestion='questions[index]'/>
    <div id='wait-text' v-else>Please wait...</div>
  </div>
</template>

<script>
import Question from './components/Question'
export default {
  name: 'App',
  data(){
    return {
      questions:[],
      index:0,
    }
  },
  components: {
    Question
  },
  methods: {
    nextQuestion () {
      this.index++
    }
  },
  mounted: function(){
    fetch('https://opentdb.com/api.php?amount=10&category=0&type=multiple')
      .then(response => response.json())
      .then(data => {
        var _clean_data = [];
        data.results.forEach((item, i) => {
          var answ_i = 0
          var _arr = [[answ_i,item.correct_answer,true]]
          item.incorrect_answers.forEach(answ => {
            answ_i++
            _arr.push([answ_i,answ,false])
          });
          var _ans = _arr.sort(() => Math.random() - 0.5)
          _clean_data.push({
            question: item.question,
            answers: _ans,
            difficulty: item.difficulty
          });
          this.questions = _clean_data
        });
      });
  },
}
</script>


<style scoped>
  #wait-text{
    text-align:center;
    margin:20px 0px;
    font-size: 1.3em;
    font-weight: bold;
  }
</style>
